[user]
	name = fl4vis
	email = f-laviussquier@hotmail.com

[init]
	defaultBranch = main

[core]
	editor = nvim
	pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only --features=interactive

[diff]
    tool = nvimdiff
	show = delta

[include]
    path = /home/fl4vis/.delta-themes.gitconfig

[delta]
    line-numbers = true
    navigate = true
    dark = true
    features = arctic-fox
    syntax-theme = Visual Studio Dark+

[difftool]
  prompt = true

[merge]
    tool = nvimdiff

[alias]
    lg = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'

[credential]
	helper = store
