[user]
	name = fl4vis
	email = f-laviussquier@hotmail.com

[init]
	defaultBranch = main

[core]
	editor = nvim
	pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only --features=interactive

[diff]
    tool = phpstorm
	show = delta

[include]
    path = /home/fl4vis/.delta-themes.gitconfig

[delta]
    line-numbers = true
    navigate = true
    dark = true
    features = arctic-fox
    syntax-theme = Visual Studio Dark+


[difftool]
  prompt = true

[difftool "phpstorm"]
    cmd = "/opt/PhpStorm/bin/phpstorm.sh diff $LOCAL $REMOTE >/dev/null 2>&1"

[merge]
    tool = phpstorm

[mergetool "phpstorm"]
    cmd = "/opt/PhpStorm-233.13135.108/bin/phpstorm.sh merge $LOCAL $BASE $REMOTE $MERGED"
    trustExitCode = true
    keepBackup = false

[alias]
    lg = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'


[credential]
	helper = store
